<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
   <!-- <meta http-equiv="Content-Type" content="text/html" /> -->
    <meta name="keyword" content="HTML, CSS, image, navigation" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>VULCAN! - BBS</title>
	<!--TODO static-->
	<!--./static/index.css-->
    <link rel="stylesheet" type="text/css" th:href="${/css/index.css}" />
    <link rel="stylesheet" type="text/css" th:href="${/css/BBSIndex.css}" />
</head>

<body>
    <!-- Navigation Bar -->
    <div class="barContainer">
        <div class="nav-content">
            <!-- logo -->
            <div class="nav-title">
                <span>
					<!--TODO -->
                    <img src="./static/img/logo-new.png" alt="VULCAN logo">
                </span>
            </div>
            <!-- context -->
            <div class="nav-text">
				<!--Todo 跳转有问题-->
                <span style="float: left"><a href="../../../../../WebContent/HomePage.jsp">Home</a></span>
                <span class="active" style="float: left"><a href="BBSIndex.html">BBS</a></span>
                <span style="float: left"><a href="#Reservation">Reservation</a></span>
                <span style="float: left"><a href="../../../../../WebContent/clubList.jsp">Clubs</a></span>
                <span style="float: left"><a href="#School's Index">School's Index</a></span>
                <span class="user">
                    <a href="../../../../../WebContent/Login.jsp">Login</a>
                </span>
            </div>  
        </div>
    </div>
    <!-- body -->
    <div class="main-body">
        <div class="main-content">
        	<div class="clubList">
        		<div class="listTitle">
        			<h1>Posts</h1>
        		</div>
        		<div class="head">
        			<ul>
        				<li><a>ALL</a></li>
        				<li><a>News</a></li>
        				<li><a>Discussion</a></li>
        				<li><a>Notification</a></li>
        			</ul>
        		</div>
        		<div class="body">
        			<div class="contextList">
        				<div class="context">
        					<a href="">BNU Soccer Club</a>
        				</div>
        				<div class="context">
        					<a href="">BNU Soccer Club</a>
        				</div>
        				<div class="context">
        					<a href="">BNU Soccer Club</a>
        				</div>
        				<div class="context">
        					<a href="">BNU Soccer Club</a>
        				</div>
        				<div class="context">
        					<a href="">BNU Soccer Club</a>
        				</div>
        				<div class="context">
        					<a href="">BNU Soccer Club</a>
        				</div>
        				<div class="context">
        					<a href="">BNU Soccer Club</a>
        				</div>
        				<div class="context">
        					<a href="">BNU Soccer Club</a>
        				</div>
        				<div class="context">
        					<a href="">BNU Soccer Club</a>
        				</div>
        				<div class="context">
        					<a href="">BNU Soccer Club</a>
        				</div>
        				<div class="context">
        					<a href="">BNU Soccer Club</a>
        				</div>
        				<div class="context">
        					<a href="">BNU Soccer Club</a>
        				</div>
        				<div class="context">
        					<a href="">BNU Soccer Club</a>
        				</div>
        				<div class="context">
        					<a href="">BNU Soccer Club</a>
        				</div>
        				<div class="context">
        					<a href="">BNU Soccer Club</a>
        				</div>
        				<div class="context">
        					<a href="">BNU Soccer Club</a>
        				</div>
        				<div class="context">
        					<a href="">BNU Soccer Club</a>
        				</div>
        				<div class="context lastContext">
        					<button class="pageConctrl">>|</button>
        					<button class="pageConctrl">></button>
        					<button class="pageConctrl">3</button>
        					<button class="pageConctrl">2</button>
        					<button class="pageConctrl">1</button>
        					<button class="pageConctrl"><</button>
        					<button class="pageConctrl">|<</button>
        				</div>
        			</div>
        		</div>
        	</div>
        	<div class="newPost">
        		<div class="listTitle">
					<!--TODO static-->
        			<img src="./static/img/glyphicons_free/glyphicons/png/glyphicons-31-pencil.png">
        			<p>New Post</p>
        		</div>
        		<div class="post">
        			<div class="postTitle">
        				<form id="newPost">
        					<input type="text" name="postTitle" placeholder="The title of the post" autocomplete="off">
        					<select name="postType">
        						<option>Discussion</option>
        						<option>Notification</option>
        						<option>News</option>
        					</select>
        				</form>
        				<div class="postStyle">
							<!--todo static-->

        					<img src="./static/img/glyphicons_free/glyphicons/png/glyphicons-103-bold.png">

        					<img src="./static/img/glyphicons_free/glyphicons/png/glyphicons-104-text-underline.png">

        					<img src="./static/img/glyphicons_free/glyphicons/png/glyphicons-117-text-bigger.png">

        					<img src="./static/img/glyphicons_free/glyphicons/png/glyphicons-116-text-smaller.png">

        					<img src="./static/img/glyphicons_free/glyphicons/png/glyphicons-111-align-left.png">

        					<img src="./static/img/WebContent/img/glyphicons_free/glyphicons/png/glyphicons-112-align-center.png">

        					<img src="./static/img/glyphicons_free/glyphicons/png/glyphicons-113-align-right.png">

        				</div>
        				<textarea id="postContext" form="newPost" placeholder="Context of the post"></textarea>
        				<input form="newPost" type="submit" name="" value="Post" style="width: 100%">
        				<div class="division"></div>
        			</div>
        		</div>
        	</div>
        	<div class="division"></div>
        	<div class="division"></div>
        	<div class="division"></div>
        </div>
    </div>

    <!-- footer -->
    <footer class="bottom-bar">
        Designed by Vulcan.
    </footer>

</body>
</html>
