<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <!-- <meta http-equiv="Content-Type" content="text/html" /> -->
    <meta name="keyword" content="HTML, CSS, image, navigation"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>MutekiGamer - Login</title>
    <link rel="stylesheet" type="text/css" href="./static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="./static/css/login.css"/>
</head>
<body>
<div class="barContainer">
    <div class="nav-content">
        <div class="nav-title">
                <span>
                    <img src="./static/img/logo-new.png" alt="VULCAN logo">
                </span>
        </div>
        <div class="nav-text">
            <span style="float: left"><a href="HomePage1">主页</a></span>
            <span style="float: left"><a href="/homepage/community">社区</a></span>
            <span style="float: left"><a href="/homepage/news">头条</a></span>
            <span style="float: left"><a href="/homepage/battle">战场</a></span>
            <span style="float: right"><a href="/homepage/my">我</a></span>
            <span class="user">
                    <a href="login">Login</a>
                </span>
        </div>
    </div>
</div>
</body>
</html>