<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <!-- <meta http-equiv="Content-Type" content="text/html" /> -->
    <meta name="keyword" content="HTML, CSS, image, navigation"/>
    <title>VULCAN! - HomePage</title>
    <base th:href="@{/}">
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="css/homePage.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/myinfo.js}"></script>
</head>

<body>
<!-- Navigation Bar-->
<div class="barContainer">
    <div class="nav-content">
        <div class="nav-title">
                <span>
                    <img src="https://static.dingtalk.com/media/lALPDgQ9rZl6KXPNAljNB0Q_1860_600.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028145409841%22%7D&bizType=im&open_id=267508618"
                         alt="MutekiGamer logo">
                </span>
        </div>
        <div class="nav-text">
            <span style="float: left"><a href="/homepage">主页</a></span>
            <span style="float: left"><a href="/homepage/work">工作台</a></span>
            <span style="float: left"><a href="/homepage/classification">分类</a></span>
            <span style="float: right"><a href="/homepage/my">我</a></span>
            <span class="user">
                    <a href="login">Login</a>
                </span>
        </div>
    </div>
</div>

<div class="main-body" style="margin-top: 0px;padding-top: 0px;">
    <div style="padding-left: 10%;opacity: 0.8;">
        <div id="demo" class="carousel slide" data-ride="carousel" style="width: 90%;height: 90%;">
            <!-- 指示符 -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
            </ul>

            <!-- 轮播图片 -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="https://www.jianshu.com/p/ad8dbbc313b7?utm_medium=index-banner&utm_source=desktop">
                        <img src="https://upload.jianshu.io/admin_banners/web_images/4854/0eef040afc0ba407458fb900cee841df8d5274cb.png?imageMogr2/auto-orient/strip|imageView2/1/w/1250/h/540"></a>
                </div>
                <div class="carousel-item">
                    <a href="https://www.icourse163.org/topics/cet462020_w/">
                        <img src="https://upload.jianshu.io/admin_banners/web_images/4860/8aec44af6460ad75f6bb56caa9ab501c0cfb2ba4.png?imageMogr2/auto-orient/strip|imageView2/1/w/1250/h/540"></a>
                </div>
                <div class="carousel-item">
                    <a href="https://www.icourse163.org/course/SCU-1205898801">
                        <img src="https://edu-image.nosdn.127.net/5755cf56796b4dca8d2aad28b3789e95.jpg?imageView&quality=100"></a>
                </div>
                <div class="carousel-item">
                    <a href="https://www.icourse163.org/columns/1207549208.htm"> <img
                            src="https://edu-image.nosdn.127.net/536db2465f974c6599e1adaa0a7163bc.jpg?imageView&quality=100"></a>
                </div>
            </div>

            <!-- 左右切换按钮 -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <div class="main-content" style="z-index: 99;height: 800px">
        <div class="contextFrame" style="height: 100%;">
            <div class="innerFrame"style="height: 100%">
                <ul class="nav nav-pills" role="tablist"style="width: 80%;padding-left: 5px">
                    <li class="nav-item" style="background-color: dimgrey;width: 15%">
                        <a class="nav-link active" data-toggle="pill" href="#home">最近使用</a>
                    </li>
                    <li class="nav-item" style="background-color: dimgrey;width: 15%">
                        <a class="nav-link" data-toggle="pill" href="#menu1">我的创建</a>
                    </li>
                    <li class="nav-item" style="background-color: dimgrey;width: 15%">
                        <a class="nav-link" data-toggle="pill" href="#menu2">我的收藏</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" style="height: 100%;">
                    <div id="home" class="container tab-pane active"><br>
                        <ul style="height: auto">
                            <li>
                                <div class="card" style="width: 80%; padding-left: 5px;background-color: #ABABAB">
                                    <div class="card-header"><a href="https://www.jianshu.com/p/0f5be015314d">Flutter可能成为未来的前端解决方案</a></div>
                                    <div class="card-body">
                                        <p>完善可以让 Flutter 可以运行在 Web 平台的 Hummingbird 项目；
                                        继续尝试让 Flutter 运行在桌面级的平台之上（如 macOS 和 Windows）。
                                        假如flutter支持web，windows，macOS，这简直无敌有没有
                                        </p>
                                    </div>
                                    <div class="card-footer">2019.02.24 00:04:03        字数  386      阅读 3,409</div>
                                </div>
                            </li>
                            <li>
                                <div class="card"style="width: 80%; padding-left: 5px;background-color: #ABABAB">
                                    <div class="card-header"><a href="https://www.jianshu.com/p/3adb756b2974" >豆瓣9.2分，今年最牛逼的电影，没白等！</a></div>
                                    <div class="card-body">
                                        <p>
                                            最近这部电影很火，前几天公众号推荐过一次，但是后台仍一堆人求这部电影，今天再推荐一遍。
                                            里面一些镜头让我一个大男人看的都热泪盈眶，很值得一看！

                                        </p>
                                    </div>
                                    <div class="card-footer">2019.12.03 13:13:49      字数  1,818     阅读 56,643</div>
                                </div>
                            </li>
                            <li>
                                <div class="card"style="width: 80%; padding-left: 5px;background-color: #ABABAB">
                                    <div class="card-header"><a href="https://www.jianshu.com/p/44095f2e9615" >预见2020：最新发布IT技术的发展趋势</a></div>
                                    <div class="card-body">
                                        <p>
                                            在IT领域，企业领导者在IT领域做出的选择不仅会对业务发展和客户关系产生影响，也会对整体经济产生影响，
                                            而整体经济越来越依赖于为关键业务提供可靠服务的企业网络。
                                        </p>
                                    </div>
                                    <div class="card-footer">2020.01.02 15:17:05     字数  1,525       阅读 68,937</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="menu1" class="container tab-pane fade"><br>
                        <ul style="height: auto">
                            <li>
                                <div class="card" style="width: 80%; padding-left: 5px;background-color: #ABABAB">
                                    <div class="card-header"><a href="https://www.jianshu.com/p/0f5be015314d">Flutter可能成为未来的前端解决方案</a></div>
                                    <div class="card-body">
                                        <p>完善可以让 Flutter 可以运行在 Web 平台的 Hummingbird 项目；
                                            继续尝试让 Flutter 运行在桌面级的平台之上（如 macOS 和 Windows）。
                                            假如flutter支持web，windows，macOS，这简直无敌有没有
                                        </p>
                                    </div>
                                    <div class="card-footer">2019.02.24 00:04:03        字数  386      阅读 3,409</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="menu2" class="container tab-pane fade"><br>
                        直接复制上面ul的内容
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="footer_title">Product</h3>
                <ul class="footer_list">
                    <li>Integrations</li>
                    <li>Slack Bot</li>
                    <li>Customers</li>
                    <li>Case Studies</li>
                    <li>Pricing</li>
                </ul>
            </div>
            <div class="col">
                <h3 class="footer_title">Company</h3>
                <ul class="footer_list">
                    <li>About</li>
                    <li>Blog</li>
                    <li>Newsletter</li>
                    <li>Community</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="col">
                <h3 class="footer_title">Help</h3>
                <ul class="footer_list">
                    <li>Knowledge Base</li>
                    <li>Forum</li>
                </ul>
            </div>
            <div class="col">
                <ul style="text-align: right;padding-top: 100px;">
                    <li><img src="img/twitter.png" style="width: 20px;height: 20px;"></li>
                    <li><img src="img/facebook.png" style="width: 20px;height: 20px;"></li>
                    <li><img src="img/email.png" style="width: 20px;height: 20px;"></li>
                    <li>© MutekiGamer 2019</li>
                </ul>
            </div>
        </div>
    </div>
</footer>


</body>
</html>
