<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="Content-Type" content="text/html" /> -->
    <meta name="keyword" content="HTML, CSS, image, navigation" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MutekiGamer!</title>
    <base th:href="@{/}">
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js">  </script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: blueviolet">
<!-- Navigation Bar -->
<div class="barContainer">
    <div class="nav-content">
        <!-- logo -->
        <div class="nav-title">
                <span>
                    <img src="https://static.dingtalk.com/media/lALPDgQ9rZl6KXPNAljNB0Q_1860_600.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028145409841%22%7D&bizType=im&open_id=267508618" alt="MutekiGamer logo">
                </span>
        </div>

        <!--<div class="nav-text">-->
        <!--<span style="float: left"><a href="HomePage">主页</a></span>-->
        <!--<span style="float: left"><a href="/homepage/class">课程</a></span>-->
        <!--<span style="float: left"><a href="/homepage/record">成绩</a></span>-->
        <!--<span style="float: right"><a href="/homepage/my">我</a></span>-->
        <!--<span class="user">-->
        <!--<a href="login">Login</a>-->
        <!--</span>-->
        <!--</div>-->
    </div>
</div>
<!--video-->
<!--<div>-->
<!--<video autoplay loop muted>-->
<!--<source src="https://blz.nosdn.127.net/1/tm/blz/blizzcon/2019/vt/IRSPP7IRPD501570561369880.webm" type="video/mp4">-->
<!--</video>-->
<!--</div>-->

<!--mainbody-->
<div class="main-body">
    <div style="text-align: center;width: 50%;height: auto;margin-top: 150px;margin-left: 25%;">
        <span style="text-align: center;"><img src="https://static.dingtalk.com/media/lALPDgQ9rZmS1SDNAcLNB0Q_1860_450.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028305227287%22%7D&bizType=im&open_id=267508618"></span>
    </div>
    <div id="nav" class="indexchose">
        <a href="login">
            <button class="login-button">登录</button>
        </a>
        <a href="register">
            <button class="login-button">注册</button>
        </a>
    </div>
    <!--<div class="visitor">
        <a href="HomePage.html" style="font-size: 14px;">暂不登录，直接浏览>>></a>
    </div>-->

</div>
<div style="height: 200px;width: 100%"></div>
<div style="height: 200px;width: 100%"></div>


<!-- footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="footer_title">Product</h3>
                <ul class="footer_list">
                    <li>Integrations</li>
                    <li>Slack Bot</li>
                    <li>Customers</li>
                    <li>Case Studies</li>
                    <li>Pricing</li>
                </ul>
            </div>
            <div class="col">
                <h3 class="footer_title">Company</h3>
                <ul class="footer_list">
                    <li>About</li>
                    <li>Blog</li>
                    <li>Newsletter</li>
                    <li>Community</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="col">
                <h3 class="footer_title">Help</h3>
                <ul class="footer_list">
                    <li>Knowledge</li>
                    <li>Forum</li>
                </ul>
            </div>
            <div class="col">
                <ul style="text-align: right;padding-top: 100px;">
                    <li><img src="img/twitter.png" style="width: 20px;height: 20px;"></li>
                    <li><img src="img/facebook.png" style="width: 20px;height: 20px;"></li>
                    <li><img src="img/email.png" style="width: 20px;height: 20px;"></li>
                    <li>© MutekiGamer 2019</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">

</script>
</body>
</html>
