<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="Content-Type" content="text/html" /> -->
    <meta name="keyword" content="HTML, CSS, image, navigation" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MutekiGamer - Login</title>
    <base th:href="@{/}">
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="css/login.css"/>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js">  </script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<!-- Navigation Bar -->
<div class="barContainer">
    <div class="nav-content" >
        <div class="nav-title">
                <span>
                    <img src="https://static.dingtalk.com/media/lALPDgQ9rZl6KXPNAljNB0Q_1860_600.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028145409841%22%7D&bizType=im&open_id=267508618" alt="MutekiGamer logo">
                </span>
        </div>
        <div class="nav-text">
            <span style="float: left"><a href="HomePage">主页</a></span>
            <span style="float: left"><a href="/homepage/class">课程</a></span>
            <span style="float: left"><a href="/homepage/record">成绩</a></span>
            <span style="float: right"><a href="/homepage/my">我</a></span>
            <span class="user">
                    <a href="login">Login</a>
                </span>
        </div>
    </div>
</div>
<div class="clear"></div>
<!--video-->
<!--<div>-->
<!--<video autoplay loop muted style="width: 100%;height: auto;">-->
<!--<source src="https://cms.cnc.blzstatic.cn/cms/gallery/s1/S199GBA7HG581572581461800.mp4" type="video/mp4">-->
<!--</video>-->
<!--</div>-->
<!-- body -->
<div class="main-body">
    <div class="logContext">
        <div class="login">
            <h1>Login</h1>
            <div class="input-form">
                <form action="/dologin" method="post">
                    <b class="element">E-mail</b>
                    <div></div>
                    <input class="uid" type="email" name="name" value="" autocomplete="off">
                    <hr>
                    <div></div>
                    <b class="element">Password</b>
                    <div></div>
                    <input class="pw" type="password" name="password" value="">
                    <hr>
                    <div></div>
                    <input class="Login-button" type="submit" name="hand_in" value="Login">
                </form>
            </div>
        </div>
        <div class="division">

        </div>
        <div class="register">
            <h1>Don't Have a MutekiGamer Account?</h1>
            <a href="register.html">
                <button >JOIN US NOW!</button>
            </a>
        </div>
    </div>
</div>
<!-- footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="footer_title">Product</h3>
                <ul class="footer_list">
                    <li>Integrations</li>
                    <li>Slack Bot</li>
                    <li>Customers</li>
                    <li>Case Studies</li>
                    <li>Pricing</li>
                </ul>
            </div>
            <div class="col">
                <h3 class="footer_title">Company</h3>
                <ul class="footer_list">
                    <li>About</li>
                    <li>Blog</li>
                    <li>Newsletter</li>
                    <li>Community</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="col">
                <h3 class="footer_title">Help</h3>
                <ul class="footer_list">
                    <li>Knowledge Base</li>
                    <li>Forum</li>
                </ul>
            </div>
            <div class="col">
                <ul style="text-align: right;padding-top: 100px;">
                    <li><img src="img/twitter.png" style="width: 20px;height: 20px;"></li>
                    <li><img src="img/facebook.png" style="width: 20px;height: 20px;"></li>
                    <li><img src="img/email.png" style="width: 20px;height: 20px;"></li>
                    <li>© MutekiGamer 2019</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>

</html>
