<!DOCTYPE html>
<!--1. 引入namespace-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <!-- <meta http-equiv="Content-Type" content="text/html" /> -->
    <!--<img th:src="@{/timg.jpg}"/>-->
    <meta name="keyword" content="HTML, CSS, image, navigation"/>
    <script type="text/javascript" th:src="@{/js/Homepage.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>MutekiGamer - Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <script type="text/javascript" th:src="@{/js/User.js}"></script>
</head>
<!--<body onload="loadPage()">-->

<div class="barContainer">
    <div class="nav-content">
        <div class="nav-title">
                <span>
                    <img src="https://static.dingtalk.com/media/lALPDgQ9rZl6KXPNAljNB0Q_1860_600.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028145409841%22%7D&bizType=im&open_id=267508618" alt="MutekiGamer logo">
                </span>
        </div>
        <div class="nav-text">
            <span style="float: left"><a href="HomePage">主页</a></span>
            <span style="float: left"><a href="/homepage/community">社区</a></span>
            <span style="float: left"><a href="/homepage/news">头条</a></span>
            <span style="float: left"><a href="/homepage/battle">战场</a></span>
            <span style="float: right"><a href="/homepage/my">我</a></span>
            <span class="user">
                    <a href="login">Login</a>
                </span>
        </div>
    </div>
</div>
<div>
    <button id="test_load"></button>
</div>
</body>
</html>