<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap 实例</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base th:href="@{/}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="css/login.css"/>
    <link rel="stylesheet" type="text/css" href="css/my.css"/>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            position: relative;
            background:url("https://overwatch.nosdn.127.net/2/media/Wallpapers/Genji_wallpaper/2560x1440.jpg") no-repeat;
            background-attachment: fixed;
        }
        ul.nav-pills {
            top: 300px;
            margin-top: 20px;
            margin-left:220px;
            position: fixed;


        }
        div.col-8 div {
            height: auto;
            font-size: 50px;


            margin-left: 50px;
            margin-right: 150px;


        }
        .ui{
            width:700px;
            height:50px;
            list-style: none;
            margin:0;
            padding:0;
        }
        .ui li{
            width:170px;
            margin:0 10px;
            float: left;/*该处换为display:inline-block;同样效果*/

        }

        .ui li a{
            width:150px;
            height:50px;
            margin-left: 0px;
            font-size: 20px;
            line-height:50px;
            display: inline-block;
        }

        .ul{
            width:700px;
            height:60px;
            list-style: none;
            margin:0;
            padding:0;

        }
        .ul li{
            width:170px;
            height: 50px;
            margin:0 10px;
            float: left;/*该处换为display:inline-block;同样效果*/
            font-size: 17px;
            line-height:60px;
        }

        /*    .ul li a{
                width:170px;
                height:50px;
                margin-left: 0px;
                font-size: 17px;
                line-height:20px;

               display: inline-block;
            }*/
        .nav-pills .nav-link.active{
            background-color: rgba(255,255,255,0.5);
        }
    </style>

</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="300">
<!-- Navigation Bar -->
<div class="barContainer">
    <div class="nav-content">
        <div class="nav-title">
                <span>
                    <img src="https://static.dingtalk.com/media/lALPDgQ9rZl6KXPNAljNB0Q_1860_600.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028145409841%22%7D&bizType=im&open_id=267508618" alt="MutekiGamer logo">
                </span>
        </div>
        <div class="nav-text">
            <span style="float: left"><a href="/homepage">主页</a></span>
            <span style="float: left"><a href="/homepage/work">工作台</a></span>
            <span style="float: left"><a href="/homepage/classification">分类</a></span>
            <span style="float: right"><a href="/homepage/my">我</a></span>
            <span class="user">
                    <a href="login">Login</a>
                </span>
        </div>
    </div>
</div>

<!--photo-->
<div class="divbox1">
    <div class="left1">
        <img src="img/timg2.jpeg">
    </div>
    <div  class=right1>姓名<br><br>
        <ul class="ui">
            <li>2016210939</li>
            <li>2016级</li>
        </ul>
    </div>
</div>
<!--scroll-->
<div class=divbox2 >
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-4" id="myScrollspy">
                <ul class="nav nav-pills flex-column" style="text-align: center">
                    <li class="nav-item">
                        <a class="nav-link active" href="#section1"><img src="img/homework.png"   style="width:60px; height:60;"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section2"><img src="img/notice.png"    style="width:60px; height:60;"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section3"><img src="img/record.png"   style="width:60px; height:60;"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section4"><img src="img/chat.png"   style="width:60px; height:60;"></a>
                    </li>
                </ul>
            </nav>

            <div class="col-sm-9 col-8">
                <div id="section1" >
                    <ul>
                        <li>
                            <div style="font-size: 20px; padding-top:20px">24分钟前
                            </div>
                            <div style="font-size: 18px;margin-top: 20px">虽败犹荣,9倍的快乐你想象不到（狗头）<br>为早上的莽撞自罚一杯！
                            </div>
                            <div style="border: 0.5px solid gray;width:680px;height:1px"></div>
                            <div>
                                <ul class="ul">
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1196657&size=128" style="width: 25px;height: 17px">&nbsp浏览数</li>
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1190746&size=128" style="width: 18px;height: 18px">&nbsp评论数</li>
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1223115&size=128" style="width: 20px;height: 20px">&nbsp点赞数</li>
                                </ul>
                            </div>
                        </li>
                        <li style="border: 0.5px solid gray;width:780px;height:2px"></li>
                        <li>
                            <div style="font-size: 20px; padding-top: 20px">一天前</div>
                            <div style="font-size: 18px; margin-top: 20px">#炉石传说#圣光指引我！<br>
                                我觉得鲍勃在骗我，只有小粉，我的恶魔呢？
                            </div>
                            <div style="border: 0.5px solid gray;width:680px;height:1px"></div>
                            <div>
                                <ul class="ul">
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1196657&size=128" style="width: 25px;height: 17px">&nbsp浏览数</li>
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1190746&size=128" style="width: 18px;height: 18px">&nbsp评论数</li>
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1223115&size=128" style="width: 20px;height: 20px">&nbsp点赞数</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="section2" >
                    <ul>
                        <li>
                            <div style="font-size: 20px; padding-top:20px">24分钟前
                            </div>
                            <div style="font-size: 18px;margin-top: 20px">#暗黑破坏神#虽败犹荣,9倍的快乐你想象不到（狗头）<br>为早上的莽撞自罚一杯！
                            </div>
                            <div style="border: 0.5px solid gray;width:680px;height:1px"></div>
                            <div>
                                <ul class="ul">
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1196657&size=128" style="width: 25px;height: 17px">&nbsp浏览数</li>
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1190746&size=128" style="width: 18px;height: 18px">&nbsp评论数</li>
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1223115&size=128" style="width: 20px;height: 20px">&nbsp点赞数</li>
                                </ul>
                            </div>
                        </li>
                        <li style="border: 0.5px solid gray;width:780px;height:2px"></li>
                        <li>
                            <div style="font-size: 20px; padding-top: 20px">一天前
                            </div>
                            <div style="font-size: 18px; margin-top: 20px">圣光指引我！<br>
                                我觉得鲍勃在骗我，只有小粉，我的恶魔呢？
                            </div>
                            <div style="border: 0.5px solid gray;width:680px;height:1px"></div>
                            <div>
                                <ul class="ul">
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1196657&size=128" style="width: 25px;height: 17px">&nbsp浏览数</li>
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1190746&size=128" style="width: 18px;height: 18px">&nbsp评论数</li>
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1223115&size=128" style="width: 20px;height: 20px">&nbsp点赞数</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="section3" >
                    <ul>
                        <li>
                            <div style="font-size: 20px; padding-top:20px">24分钟前
                            </div>
                            <div style="font-size: 18px;margin-top: 20px">#魔兽世界#虽败犹荣,9倍的快乐你想象不到（狗头）<br>为早上的莽撞自罚一杯！
                            </div>
                            <div style="border: 0.5px solid gray;width:680px;height:1px"></div>
                            <div>
                                <ul class="ul">
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1196657&size=128" style="width: 25px;height: 17px">&nbsp浏览数</li>
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1190746&size=128" style="width: 18px;height: 18px">&nbsp评论数</li>
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1223115&size=128" style="width: 20px;height: 20px">&nbsp点赞数</li>
                                </ul>
                            </div>
                        </li>
                        <li style="border: 0.5px solid gray;width:780px;height:2px"></li>
                        <li>
                            <div style="font-size: 20px; padding-top: 20px">一天前
                            </div>
                            <div style="font-size: 18px; margin-top: 20px">圣光指引我！<br>
                                我觉得鲍勃在骗我，只有小粉，我的恶魔呢？
                            </div>
                            <div style="border: 0.5px solid gray;width:680px;height:1px"></div>
                            <div>
                                <ul class="ul">
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1196657&size=128" style="width: 25px;height: 17px">&nbsp浏览数</li>
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1190746&size=128" style="width: 18px;height: 18px">&nbsp评论数</li>
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1223115&size=128" style="width: 20px;height: 20px">&nbsp点赞数</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="section4" >
                    <ul>
                        <li>
                            <div style="font-size: 20px; padding-top:20px">24分钟前
                            </div>
                            <div style="font-size: 18px;margin-top: 20px">#风暴英雄1#虽败犹荣,9倍的快乐你想象不到（狗头）<br>为早上的莽撞自罚一杯！
                            </div>
                            <div style="border: 0.5px solid gray;width:680px;height:1px"></div>
                            <div>
                                <ul class="ul">
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1196657&size=128" style="width: 25px;height: 17px">&nbsp浏览数</li>
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1190746&size=128" style="width: 18px;height: 18px">&nbsp评论数</li>
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1223115&size=128" style="width: 20px;height: 20px">&nbsp点赞数</li>
                                </ul>
                            </div>
                        </li>
                        <li style="border: 0.5px solid gray;width:780px;height:2px"></li>
                        <li>
                            <div style="font-size: 20px; padding-top: 20px">一天前
                            </div>
                            <div style="font-size: 18px; margin-top: 20px">圣光指引我！<br>
                                我觉得鲍勃在骗我，只有小粉，我的恶魔呢？
                            </div>
                            <div style="border: 0.5px solid gray;width:680px;height:1px"></div>
                            <div>
                                <ul class="ul">
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1196657&size=128" style="width: 25px;height: 17px">&nbsp浏览数</li>
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1190746&size=128" style="width: 18px;height: 18px">&nbsp评论数</li>
                                    <li><img src="http://www.easyicon.net/api/resizeApi.php?id=1223115&size=128" style="width: 20px;height: 20px">&nbsp点赞数</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
