<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>
<!--引入相关的js-->
<script type="text/javascript" src="./static/js/Homepage.js"></script>
<script type="text/javascript" src="./static/js/Article.js"></script>
<script type="text/javascript" src="./static/js/Auth.js"></script>
<script type="text/javascript" src="./static/js/User.js"></script>
<script type="text/javascript" src="./static/js/template-web.js"></script>
<script type="text/javascript" src="./static/js/Swipe.js"></script>



<link rel="stylesheet" type="text/css" th:href="@{css/swipe.css}" />
<link rel="stylesheet" type="text/css" th:href="@{css/homepage.css}" />


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>fuck </h1>
    <br>
    <button id="test_send_email">测试邮箱</button>

    <br>

    <button id="test_get_article">测试个人信息</button>
    <br>
    <div id="div"></div>

    <br>

    <script type="text/javascript">

    </script>

    <div class="post_item">
        <img class="circle_image"
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx-GmdvA4AFYUn6vRJHGYcdIvCvsQuuNOxNDR6Rqr2O9USO4Gc&s">
        <img class="circle_image"
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx-GmdvA4AFYUn6vRJHGYcdIvCvsQuuNOxNDR6Rqr2O9USO4Gc&s">
        <img class="circle_image"
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx-GmdvA4AFYUn6vRJHGYcdIvCvsQuuNOxNDR6Rqr2O9USO4Gc&s">

        <div class="post_item2" >
            <h3 class="post_username"> rick sanchz</h3>
            <br>
            <div class="post_content">
                <h2>
                    <!--title-->
                    this is this
                </h2>
                is this  this is this is this  this is this is this  this is this is this
                <!--content-->
                <b>this is this is this</b>
            </div>
        </div>
    </div>

</body>

    <script type="text/javascript">

        let div = document.getElementById("test_get_article");
         div.onclick= function() {
             homepage(function (result) {
                 let h = template("random",result.post);
                 console.log(result.post);
                 $('#div').html(h);
             });
         };

        document.getElementById("test_send_email").onclick = function () {
            alert("fuck 豚鼠");
            sendEmail(function (result) {
               console.log(result);
            });
        };

        window.myswipe = new Swipe(document.getElementById('slider'),{
            startSlide :0,
            speed:400,
            auto:3000,
            continuous:true,
            disableScroll:true,
            stopPropagation:false,
            callback:function (index,elem) {} ,
            transitionEnd:function(index,elem){}
        });

    </script>


    <script id="random" type="text/html">
        {{each data value index}}
            <li>{{value.content}}------{{value.title}}</li>
        {{/each}}

    </script>

</head>

</html>