<!DOCTYPE html>
<html lang="en">
<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>
<!--引入相关的js-->
<script type="text/javascript" src="./static/js/Homepage.js"></script>
<script type="text/javascript" src="./static/js/Post.js"></script>
<script type="text/javascript" src="./static/js/Testyu.js"></script>
<head>
    <meta charset="UTF-8">
    <title>yu</title>
</head>
<body>
<input id="articleId" value="帖子">
<button id="delete" >删除</button>
</body>
<script>
    document.getElementById("delete").onclick=function () {
        let articleId = document.getElementById("articleId").value;

        deletePost (articleId,function (result) {
            if(result==200)
                alert("成功");
            else
                alert(result);
        })
    };
</script>
</html>