<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/Editor.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js" type="text/javascript"></script>
<head>
    <title>页面编辑器</title>
</head>

<body onload="init()">

<input id="submit" type="button" value="提交" onclick="newPost()" style="width:120px;height:40px;border:2px #9999FF dashed;">

<div id="container">
    <div id="input"></div>
    <iframe id="target" frameborder="0" onclick="newPost()"></iframe>
</div>



<style >
    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }


    #container {
        height: 100%;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
    }

    #input {
        height: 100%;
        width: 50%;
        display: inline-block;
    }



    #target {
        height: 100%;
        display: inline-block;
        width: 50%;
    }



</style>
</body>
</html>